apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: capstoneacr8072.azurecr.io/capstone-mysql:v1
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "rootpassword"
        - name: MYSQL_DATABASE
          value: "ideasdb"
        - name: MYSQL_USER
          value: "ideasuser"
        - name: MYSQL_PASSWORD
          value: "ideaspass"
        ports:
        - containerPort: 3306

